 <div class="cover_image bg-gray mb-2" >
      <% if @user.cover_image.present? %>
        <img src="<%= @user.cover_image %>" class="pr-2" alt="<%= @user.username %>">
      <% else %>
        <img src="https://source.unsplash.com/random/800x250" class="pr-2" alt="<%= @user.username %>">
      <% end %>
 </div>
<h2>Tweets</h2>


<div class="card mb-5">
    <div class="card-body">
    <h5 class="card-title border-bottom pb-3">TWEET TO <%= @user.fullname.upcase %></h5>
        <%= form_for(@opinion, url: opinion_path) do |f| %>
            <%= f.text_field :text, autofocus: true, class: "form-control", placeholder: "Enter a message..." %>
        <% end %>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title border-bottom pb-3">ALL TWEETS TO <%= @user.fullname.upcase %></h5>
        <%= render @opinions %>
    </div>
</div>
