<div class="col-3 offset-7 px-1 bg-light position-fixed pt-5 pl-5 pr-4" id="sticky-sidebar">
<div class="text-center mb-5">
     <img src="<%= @user.photo %>" class="pr-2 rounded-circle profile-img" alt="<%= @user.username %>">
     <div class="user-info">
        <h5 class="mt-2"><%= @user.fullname %><br><small class="text-gray">@<%= @user.username %></small></h5>
        <div class="stats border-top border-bottom pt-2 pb-2 d-flex flex-row justify-content-around">
            <h5><%= @user.opinions.count %> <br><small>Tweets</small></h5>
            <h5><%= @user.follows.count %> <br><small>Following</small></h5>
            <h5><%= @user.followers.count %><br><small>Followers</small></h5>
        </div>
     </div>
</div>

<h6 class="border-bottom pb-3">FOLLOWED BY</h6>

    <% @user.followers.each do |follower| %>
    <div class="d-flex flex-row align-items-center mt-3 mb-4 who-to-follow">
            <div class="author"><img src="<%= follower.photo %>" class="pr-2 rounded-circle" alt="<%= follower.username %>"></div>
            <div class="follow-content">
                <h6><strong>
                 <%= link_to follower.fullname, profile_path(follower.username), class: "text-dark" %>
                 </strong></h6>
            </div>
    </div>
    <% end %>

</div>