
    
        <div class="user-photo d-flex align-items-center p-2 border-bottom border-dark">
            <img src="https://source.unsplash.com/random/60x60" class="rounded pr-2" alt="user">
            <h5 class="user-name"><%= current_user.fullname %></h5>
        </div>

        <div class="user-photo d-flex  justify-content-between p-2 border-bottom border-dark">
            <div class="follow text-center">
                <h5>184<br><small>Following</small></h5>
            </div>
            <div class="follow text-center">
                <h5>820<br><small>Followers</small></h5>
            </div>
        </div>

    <div class="sidebar-links p-2 mt-2 active">
      <a href="#" class="sidebar-links__anchor pr-2">
      <svg viewBox="0 0 24 24" class="sidebar-links__icon active">
        <g>
          <path
            d="M22.58 7.35L12.475 1.897c-.297-.16-.654-.16-.95 0L1.425 7.35c-.486.264-.667.87-.405 1.356.18.335.525.525.88.525.16 0 .324-.038.475-.12l.734-.396 1.59 11.25c.216 1.214 1.31 2.062 2.66 2.062h9.282c1.35 0 2.444-.848 2.662-2.088l1.588-11.225.737.398c.485.263 1.092.082 1.354-.404.263-.486.08-1.093-.404-1.355zM12 15.435c-1.795 0-3.25-1.455-3.25-3.25s1.455-3.25 3.25-3.25 3.25 1.455 3.25 3.25-1.455 3.25-3.25 3.25z"
          ></path>
        </g>
      </svg></a>
      <%= link_to "Home", root_path, class: "sidebar-links__anchor active" %>
    </div>

    <div class="sidebar-links p-2 mt-2">
      <a href="#" class="sidebar-links__anchor pr-2">
      <svg viewBox="0 0 24 24" class="sidebar-links__icon">
        <g>
          <path
            d="M21 7.337h-3.93l.372-4.272c.036-.412-.27-.775-.682-.812-.417-.03-.776.27-.812.683l-.383 4.4h-6.32l.37-4.27c.037-.413-.27-.776-.68-.813-.42-.03-.777.27-.813.683l-.382 4.4H3.782c-.414 0-.75.337-.75.75s.336.75.75.75H7.61l-.55 6.327H3c-.414 0-.75.336-.75.75s.336.75.75.75h3.93l-.372 4.272c-.036.412.27.775.682.812l.066.003c.385 0 .712-.295.746-.686l.383-4.4h6.32l-.37 4.27c-.036.413.27.776.682.813l.066.003c.385 0 .712-.295.746-.686l.382-4.4h3.957c.413 0 .75-.337.75-.75s-.337-.75-.75-.75H16.39l.55-6.327H21c.414 0 .75-.336.75-.75s-.336-.75-.75-.75zm-6.115 7.826h-6.32l.55-6.326h6.32l-.55 6.326z"
          ></path>
        </g>
      </svg></a>
      <%= link_to "Discover", root_path, class: "sidebar-links__anchor" %>
    </div>

    <div class="sidebar-links p-2 mt-2">
      <a href="#" class="sidebar-links__anchor pr-2">
      <svg class="sidebar-links__icon" enable-background="new 0 0 465.882 465.882" viewBox="0 0 465.882 465.882" ><path d="m239.529 0c-132.074 0-239.529 107.455-239.529 239.529s107.455 239.529 239.529 239.529c45.379 0 89.56-12.763 127.761-36.885l-15.994-25.321c-33.406 21.111-72.06 32.266-111.767 32.266-115.568 0-209.588-94.019-209.588-209.588s94.019-209.589 209.588-209.589 209.588 94.019 209.588 209.588v14.971c0 24.766-20.146 44.912-44.912 44.912s-44.912-20.146-44.912-44.912v-104.794h-29.941v11.449c-21.97-25.15-53.884-41.39-89.823-41.39-66.037 0-119.764 53.727-119.764 119.764s53.727 119.764 119.764 119.764c44.742 0 83.367-24.95 103.926-61.395 13.593 18.965 35.69 31.454 60.75 31.454 41.271 0 74.853-33.581 74.853-74.853v-14.971c0-132.073-107.455-239.528-239.529-239.528zm0 329.352c-49.532 0-89.823-40.292-89.823-89.823s40.292-89.823 89.823-89.823 89.823 40.292 89.823 89.823-40.292 89.823-89.823 89.823z"/></svg></a>
      <%= link_to "Connect", "#", class: "sidebar-links__anchor" %>
    </div>

    <div class="sidebar-links p-2 mt-2">
      <a href="#" class="sidebar-links__anchor pr-2">
      <svg viewBox="0 0 24 24" class="sidebar-links__icon">
        <g>
          <path
            d="M12 11.816c1.355 0 2.872-.15 3.84-1.256.814-.93 1.078-2.368.806-4.392-.38-2.825-2.117-4.512-4.646-4.512S7.734 3.343 7.354 6.17c-.272 2.022-.008 3.46.806 4.39.968 1.107 2.485 1.256 3.84 1.256zM8.84 6.368c.162-1.2.787-3.212 3.16-3.212s2.998 2.013 3.16 3.212c.207 1.55.057 2.627-.45 3.205-.455.52-1.266.743-2.71.743s-2.255-.223-2.71-.743c-.507-.578-.657-1.656-.45-3.205zm11.44 12.868c-.877-3.526-4.282-5.99-8.28-5.99s-7.403 2.464-8.28 5.99c-.172.692-.028 1.4.395 1.94.408.52 1.04.82 1.733.82h12.304c.693 0 1.325-.3 1.733-.82.424-.54.567-1.247.394-1.94zm-1.576 1.016c-.126.16-.316.246-.552.246H5.848c-.235 0-.426-.085-.552-.246-.137-.174-.18-.412-.12-.654.71-2.855 3.517-4.85 6.824-4.85s6.114 1.994 6.824 4.85c.06.242.017.48-.12.654z"
          ></path>
        </g>
      </svg></a>
      <%= link_to "Profile", root_path, class: "sidebar-links__anchor" %>
    </div>

 <div class="sidebar-links p-2 mt-2 ">
      <a href="#" class="sidebar-links__anchor pr-2">
      <svg viewBox="0 0 490.133 490.133" class="sidebar-links__icon">
        <g><g><path d="M256,0v234.112h234.133C484.629,107.371,382.741,5.483,256,0z"/></g></g>
        <g><g><path d="M271.083,255.445L425.92,410.283c37.803-41.216,61.632-95.253,64.213-154.837H271.083z"/></g></g>
        <g><g><path d="M237.803,252.331c-0.981-0.981-1.771-2.176-2.325-3.477c-0.533-1.301-0.811-2.688-0.811-4.075V0
			C104.363,5.653,0,113.109,0,244.8c0,135.275,110.059,245.333,245.333,245.333c63.808,0,121.813-24.683,165.504-64.747
			L237.803,252.331z"/></g></g></svg>
    </a>
      <%= link_to "Statistics", "#", class: "sidebar-links__anchor" %>
  </div>

   <div class="sidebar-links p-2 mt-2 ">
      <a href="#" class="sidebar-links__anchor pr-2">
    <svg class="sidebar-links__icon" viewBox="0 0 512 512" xml:space="preserve">
      <g><g>
          <path d="M255.15,468.625H63.787c-11.737,0-21.262-9.526-21.262-21.262V64.638c0-11.737,9.526-21.262,21.262-21.262H255.15
            c11.758,0,21.262-9.504,21.262-21.262S266.908,0.85,255.15,0.85H63.787C28.619,0.85,0,29.47,0,64.638v382.724
            c0,35.168,28.619,63.787,63.787,63.787H255.15c11.758,0,21.262-9.504,21.262-21.262
            C276.412,478.129,266.908,468.625,255.15,468.625z"/>
        </g></g><g><g>
          <path d="M505.664,240.861L376.388,113.286c-8.335-8.25-21.815-8.143-30.065,0.213s-8.165,21.815,0.213,30.065l92.385,91.173
            H191.362c-11.758,0-21.262,9.504-21.262,21.262c0,11.758,9.504,21.263,21.262,21.263h247.559l-92.385,91.173
            c-8.377,8.25-8.441,21.709-0.213,30.065c4.167,4.21,9.653,6.336,15.139,6.336c5.401,0,10.801-2.041,14.926-6.124l129.276-127.575
            c4.04-3.997,6.336-9.441,6.336-15.139C512,250.302,509.725,244.88,505.664,240.861z"/>
        </g></g>
      </svg>
    </a>
      <%= link_to "Log out", logout_path, method: :delete, class: "sidebar-links__anchor" %>
  </div>



