<!DOCTYPE html>
<html>
  <head>
    <title>RorCapstone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700&display=swap" %>
  </head>

  <body class="bg-light">

    <div class="container-fluid">
      <%= render 'shared/top-nav' %>
        <div class="row">
            <%= render 'shared/side-nav' %>
            <div class="col offset-2 mt-5" id="main">
              <div class="row">
                <div class="col-10 pt-5 pr-5 ">
                <%= yield %>
                </div>
                <%= render 'shared/right-side'%>
                </div>
            </div>
        </div>
    </div>

  </body>
</html>
